<!--
  Generated template for the LedgerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ledger</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list >
    <button  ion-button full color ="light"   *ngFor = "let ledger of ledgers | async " value={{ledger.dcdropdown}} name = dcdropdown >
       {{ledger.dcdropdown}}
    </button>
  </ion-list>

</ion-content>
