<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
   
    <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
 
    <button ion-button (click)="login()">Login</button>
  <button ion-button (click)="redirect()">Register</button>
  


 
<!--
    <ion-item>
        <ion-label>Select multiple user</ion-label>
        <ionic-selectable 
        item-content
        [isMultiple]="true"
        [(ngModel)]="userIds"
        [items]="users"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="userChanged($event)"
        [canReset]="true"
        okButtonText="Proceed with users"
        resetButtonText="Clear selected"
        (onClose)="onClose($event)"
        [noItemsFoundText]="No users found."
        [shouldStoreItemValue]="false">
  
        </ionic-selectable>
      </ion-item>
      
      <button ion-button full color="primary" (click)="openFromCode()"></button>
    -->

    
</ion-content>
