<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 
 
  <ion-item>
      <ion-label color="primary" floating>Fullname</ion-label>
      <ion-input [(ngModel)]="fullname"></ion-input>
  </ion-item>



  <ion-item>
      <ion-label color="primary" floating>Email Address</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label color="primary" floating>Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>



  <ion-item>
      <ion-label color="primary" floating>Phone</ion-label>
      <ion-input [(ngModel)]="phone" type="number"></ion-input>
  </ion-item> 

  

  <ion-item>
      <ion-label color="primary" floating>Identity</ion-label>
        <ion-select [(ngModel)] = "userIdentity"> 
          <ion-option  *ngFor = "let userIdentity of userIdentitys | async "  value={{userIdentity.uidropdown}}>{{userIdentity.uidropdown}}</ion-option>
        </ion-select>
  </ion-item>


  <ion-item>
      <button ion-button full color="secondary" round (click)="register()">Register</button>
  </ion-item>
  
 
  
</ion-content>
