<!--
  Generated template for the DisplayAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>displayAccount</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <!--journal.id = when click it will check with the id-->
 <button ion-button full color ="light"  (click)="edit(journal.id)" *ngFor = "let journal of journals | async ">
   
  
  <ion-grid>
    <ion-row > 
      <ion-col >
          {{journal.date | date:'dd/MM/yyyy'}}
      </ion-col>
      <ion-col>
          {{journal.debit}}
      </ion-col>
      <ion-col>
          debit {{journal.amount}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          {{journal.date | date:'dd/MM/yyyy'}}
      </ion-col>
      <ion-col>
          {{journal.credit}}
        </ion-col>
        <ion-col>
         credit {{journal.amount}}
        </ion-col>
    </ion-row>

    
  
  </ion-grid>

  
</button>

<ion-fab bottom right #fab>
  <button ion-fab (click)="toAccount()">
    <ion-icon name="add"></ion-icon>
    
  </button>
</ion-fab>
</ion-content>
