<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hey user!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  {{email}}
  <ion-card *ngFor="let item of items | async">
    {{fullname}}
    {{phone}}

  </ion-card>
  
</ion-content>
