<!--
  Generated template for the EditAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>editAccount</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
        <ion-label color="primary" floating>Debit</ion-label>
          <ion-select [(ngModel)] = "debit">
            <ion-option  *ngFor = "let debit of debits | async "  value={{debit.dcdropdown}}>{{debit.dcdropdown}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    
    <ion-list>
        <ion-item>
        <ion-label color="primary" floating>Credit</ion-label>
        <ion-select [(ngModel)] = "credit">
          <ion-option  *ngFor = "let credit of credits | async "  value={{credit.dcdropdown}}>{{credit.dcdropdown}}</ion-option>
        </ion-select>
      </ion-item>
      </ion-list>
    
    <ion-item>
      <ion-label color="primary" floating>Amount</ion-label>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
    </ion-item>
    
    
      
          <button ion-button  color="primary"  (click)="update()" *ngIf="edit">Update</button>
    
          <button ion-button  color="danger"  danger (click)="remove(id)">Delete</button>
      

</ion-content>
