<ion-header>
  <ion-navbar>
      <ion-title *ngIf = "!isSearchbarOpened">
      IONIC BY DOMINIC
    </ion-title>

    
    <button ion-button (click)="gotoHome()">Home</button>
    <button ion-button (click)="gotoLogin()">Login</button>
    <button ion-button *ngIf = "value == 1" (click)="gotoAccount()">Account</button> <!--check the value is 1 or 2,admin value = 1,so if value == 1, the button only show-->
    <button ion-button  *ngIf = "value == 1" (click)="gotoLedger()">Ledger</button>
    <button ion-button (click)="gotoLogout()">Logout</button>
    
    
    
    <ion-searchbar *ngIf = "isSearchbarOpened" showCancelButton = "true" [(ngModel)] = "searchterm" (change)="search($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-list>
    <ion-item *ngFor="let name of names">
      
        {{name.name}}
        {{name.gender}}
        {{name.floor}}
        {{name.payment}}
        {{name.unitNo}}
    
    </ion-item>
  </ion-list>
  
    <ion-buttons end>
      
      <button ion-button icon-only *ngIf = "!isSearchbarOpened" (click) = "isSearchbarOpened=true">
        
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-content class="card-background-page">
  
    

      



    <ion-row>
      <ion-col col-6>
    <ion-card>
      <img src="assets/imgs/profile_dominic.JPG"/>
      <div class="card-title">Apartment</div>
      <!--<div class="card-subtitle">28 Listings</div>-->
    </ion-card>
    </ion-col>
    
  
    
      <ion-col col-6>
    <ion-card>
      <img src="assets/imgs/profile_wangyuhen.JPG"/>
      <div class="card-title">Amsterdam</div>
      
    </ion-card>
  </ion-col>
</ion-row>
  

    <ion-row>
      <ion-col col-6>
    <ion-card>
      <img src="assets/imgs/profile_nathan.JPG"/>
      <div class="card-title">San Francisco</div>
      
    </ion-card>
  </ion-col>

  
    
      <ion-col col-6>
    <ion-card>
      <img src="assets/imgs/profile_julian.JPG"/>
      <div class="card-title">Madison</div>
      
    </ion-card>
  </ion-col>
</ion-row>
  
  </ion-content>
 
</ion-content>
