<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="addDebit()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>account</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
    <ion-label color="primary" floating>Debit</ion-label>
      <ion-select [(ngModel)] = "debit"> <!--get the value of debit-->
        <!--loop the field in firebase,show it as a dropdown-->
        <!--let debit of debits = assign debits to debit,so debit can use the debits function in ts-->
        <!--debit.dcdropdown = debit is the class to call the value in firebase which is the dcdropdown-->
        <ion-option  *ngFor = "let debit of debits | async "  value={{debit.dcdropdown}}>{{debit.dcdropdown}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

<ion-list>
    <ion-item>
    <ion-label color="primary" floating>Credit</ion-label>
    <ion-select [(ngModel)] = "credit"><!--get the value of credit-->
      <!--loop the field in firebase,show it as a dropdown-->
      <!--let credit of credits = assign credits to credit,so credit can use the credit function in ts-->
      <!--credit.dcdropdown = credit is the class to call the value in firebase which is the dcdropdown-->
      <ion-option  *ngFor = "let credit of credits | async "  value={{credit.dcdropdown}}>{{credit.dcdropdown}}</ion-option>
    </ion-select>
  </ion-item>
  </ion-list>

<ion-item>
  <ion-label color="primary" floating>Amount</ion-label>
  <ion-input [(ngModel)]="amount" type="number"></ion-input>
</ion-item>


  <ion-item>
      <button ion-button full color="secondary" round (click)="submit()">Submit</button>
  </ion-item>


 
     
      
    
</ion-content>
